<span>
  <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#statecamid#">
      <span class="cmd cmd-widget" data-cmd_id="#desactivecamid#"></span>
      <span class="cmd cmd-widget" data-cmd_id="#activecamid#"></span>
      <a class="btn btn-sm btn-default action" title="active ou désactive la caméra" style="background-color:#cmd-background-color# !important;border-color : transparent !important;"></a>

      <script>
          $('.cmd[data-cmd_id=#statecamid#] .action').off().on('click', function () {
              if ('#statecam#' == 'Désactivée'){
                  jeedom.cmd.execute({id: '#activecamid#', notify: false});
              }
              else{
                  jeedom.cmd.execute({id: '#desactivecamid#', notify: false});
              }
          });
          if ('#statecam#' == 'Désactivée' && '#statecamid#' != '') {
              $('.cmd[data-cmd_id=#statecamid#] .action').empty().html('<i class="fa fa-power-off" style="color : #ff0a0a;"></i>');
          }
          else if ('#statecamid#' != ''){
              $('.cmd[data-cmd_id=#statecamid#] .action').empty().html('<i class="fa fa-power-off" style="color : #21ff0a;"></i>');
          }
      </script>
  </span>
  <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#recordstartid#" style="display: #recordstart_display#;">
    <a class="actionrecordstart btn btn-default btn-sm" title="Démarre un enregistrement" style="background-color:#cmd-background-color# !important;border-color : transparent !important;"><i class="fa fa-circle" style="color : #ff0a0a"></i></a>
    <script>
      if ('#recordstartid#' != '') {
        $('.cmd[data-cmd_id=#recordstartid#] .actionrecordstart').off();
        $('.cmd[data-cmd_id=#recordstartid#] .actionrecordstart').on('mousedown touchstart', function () {
          jeedom.cmd.execute({id: '#recordstartid#', notify: false});
        });
      }
    </script>
  </span>
  <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#recordstopid#" style="display: #recordstop_display#;">
    <a class="actionrecordstop btn btn-default btn-sm" title="Arrête un enregistrement" style="background-color:#cmd-background-color# !important;border-color : transparent !important;"><i class="fa fa-stop"></i></a>
    <script>
      if ('#recordstopid#' != '') {
        $('.cmd[data-cmd_id=#recordstopid#] .actionrecordstop').off();
        $('.cmd[data-cmd_id=#recordstopid#] .actionrecordstop').on('mousedown touchstart', function () {
          jeedom.cmd.execute({id: '#recordstopid#', notify: false});
        });
      }
    </script>
  </span>
  <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#snapshotid#" style="display: #snapshot_display#;">
    <a class="actionsnapshot btn btn-default btn-sm" title="Prendre un instantané" style="background-color:#cmd-background-color# !important;border-color : transparent !important;"><i class="fa fa-camera"></i></a>
    <script>
      $('.cmd[data-cmd_id=#snapshotid#] .actionsnapshot').off();
      $('.cmd[data-cmd_id=#snapshotid#] .actionsnapshot').on('mousedown touchstart', function () {
        jeedom.cmd.execute({id: '#snapshotid#', notify: false});
      });
    </script>
  </span>
  <span style="display: #ptz_display#;">
      <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#ptzleftid#" style="display: #ptzleft_display#;">
      <a class="actionptzleft btn btn-default btn-sm" title="PTZ gauche" style="background-color:#cmd-background-color# !important;border-color : transparent !important;"><i class="fa fa-arrow-left"></i></a>
      <script>
        if ('#ptzleftid#' != '') {
          $('.cmd[data-cmd_id=#ptzleftid#] .actionptzleft').off();
          $('.cmd[data-cmd_id=#ptzleftid#] .actionptzleft').on('mousedown touchstart', function () {
            jeedom.cmd.execute({id: '#ptzleftid#', notify: false});
          });
        }
      </script>
    </span>
    <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#ptzupid#" style="display: #ptzup_display#;">
      <a class="actionptzup btn btn-default btn-sm" title="PTZ haut" style="background-color:#cmd-background-color# !important;border-color : transparent !important;"><i class="fa fa-arrow-up"></i></a>
      <script>
      if ('#ptzupid#' != '') {
        $('.cmd[data-cmd_id=#ptzupid#] .actionptzup').off();
        $('.cmd[data-cmd_id=#ptzupid#] .actionptzup').on('mousedown touchstart', function () {
          jeedom.cmd.execute({id: '#ptzupid#', notify: false});
        });
      }
      </script>
    </span>
    <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#ptzhomeid#" style="display: #ptzhome_display#;">
      <a class="actionptzhome btn btn-default btn-sm" title="PTZ home" style="background-color:#cmd-background-color# !important;border-color : transparent !important;"><i class="fa fa-crosshairs"></i></a>
      <script>
        if ('#ptzhomeid#' != '') {
          $('.cmd[data-cmd_id=#ptzhomeid#] .actionptzhome').off();
          $('.cmd[data-cmd_id=#ptzhomeid#] .actionptzhome').on('mousedown touchstart', function () {
            jeedom.cmd.execute({id: '#ptzhomeid#', notify: false});
          });
        }
      </script>
    </span>
    <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#ptzstopid#" style="display: #ptzstop_display#;">
      <a class="actionptzstop btn btn-default btn-sm" title="PTZ stop" style="background-color:#cmd-background-color# !important;border-color : transparent !important;"><i class="fa fa-stop"></i></a>
      <script>
        if ('#ptzstopid#' != '') {
          $('.cmd[data-cmd_id=#ptzstopid#] .actionptzstop').off();
          $('.cmd[data-cmd_id=#ptzstopid#] .actionptzstop').on('mousedown touchstart', function () {
            jeedom.cmd.execute({id: '#ptzstopid#', notify: false});
          });
        }
      </script>
    </span>
    <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#ptzdownid#" style="display: #ptzdown_display#;">
      <a class="actionptzdown btn btn-default btn-sm" title="PTZ bas" style="background-color:#cmd-background-color# !important;border-color : transparent !important;"><i class="fa fa-arrow-down"></i></a>
      <script>
        if ('#ptzdownid#' != '') {
          $('.cmd[data-cmd_id=#ptzdownid#] .actionptzdown').off();
          $('.cmd[data-cmd_id=#ptzdownid#] .actionptzdown').on('mousedown touchstart', function () {
            jeedom.cmd.execute({id: '#ptzdownid#', notify: false});
          });
        }
      </script>
    </span>
    <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-cmd_id="#ptzrightid#" style="display: #ptzright_display#;">
      <a class="actionptzright btn btn-default btn-sm" title="PTZ droite" style="background-color:#cmd-background-color# !important;border-color : transparent !important;"><i class="fa fa-arrow-right"></i></a>
      <script>
        if ('#ptzrightid#' != '') {
          $('.cmd[data-cmd_id=#ptzrightid#] .actionptzright').off();
          $('.cmd[data-cmd_id=#ptzrightid#] .actionptzright').on('mousedown touchstart', function () {
            jeedom.cmd.execute({id: '#ptzrightid#', notify: false});
          });
        }
      </script>
    </span>
  </span>
</span>
